VITE_EMAILJS_SERVICE_ID=dummy_service_id
VITE_EMAILJS_TEMPLATE_ID=dummy_template_id
VITE_EMAILJS_PUBLIC_KEY=dummy_public_key
VITE_CLOUDINARY_CLOUD_NAME=cf1z70hh
VITE_GOOGLE_CLIENT_ID=199361032805-op5jfh1l5ribcj08elgt9gg10i0u56ao.apps.googleusercontent.com
VITE_API_URL=http://localhost:9000
