PORT=9000
DB_URL=mongodb+srv://ujjwalAndNitinDb:Tn99S9ZWR6oZjJOE@madhurdairy.5kjnxzp.mongodb.net/milkapp?retryWrites=true&w=majority&appName=MadhurDairy
RAZORPAY_KEY_ID=rzp_test_dummy_key_id
RAZORPAY_KEY_SECRET=dummy_key_secret
RAZORPAY_WEBHOOK_SECRET=dummy_webhook_secret
CLOUDINARY_CLOUD_NAME=cf1z70hh
CLOUDINARY_API_KEY=dummy_api_key
CLOUDINARY_API_SECRET=dummy_api_secret
GOOGLE_CLIENT_ID=199361032805-op5jfh1l5ribcj08elgt9gg10i0u56ao.apps.googleusercontent.com
EMAIL_SERVICE=gmail
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=beerayona143@gmail.com
EMAIL_PASS=your_gmail_app_password
